---
import "@/styles/globals.css";
import Drink from "../components/Drink.astro";
import Layout from "../layouts/Layout.astro";
const drinks = [
  {
    title: "Whisky Sour",
    ingredients: ["Whisky", "Lemon Juice", "Egg White", "Sugar", "Bitters"],
  },
  {
    title: "Negroni",
    ingredients: ["Gin", "Campari", "Sweet Vermouth"],
  },
  {
    title: "Manhattan",
    ingredients: ["Whisky", "Sweet Vermouth", "Bitters"],
  },
  {
    title: "Old Fashioned",
    ingredients: ["Whisky", "Simple Syrup", "Angostura Bitters"],
  },
  {
    title: "Squeaky Wheel",
    ingredients: ["Mezcal", "Coffee Liqueur", "Campari", "Amaretto"],
  },
  {
    title: "Margarita",
    ingredients: ["Tequila", "Lime Juice", "Triple Sec"],
  },
  {
    title: "Daiquiri",
    ingredients: ["White Rum", "Lime Juice", "Simple Syrup"],
  },
  {
    title: "Mojito",
    ingredients: ["White Rum", "Lime Juice", "Mint", "Simple Syrup", "Soda"],
  },
  {
    title: "Mint Julep",
    ingredients: ["Bourbon", "Mint", "Simple Syrup", "Water"],
  },
  {
    title: "Tom Collins",
    ingredients: ["Gin", "Lemon Juice", "Simple Syrup", "Soda"],
  },
];
---

<Layout title="The Night Latch.">
  <main>
    <nav>
      <h1>The Night Latch.</h1>
      <img src="/drink.svg" id="logo" alt="An illustration of a martini." />
    </nav>

    <section class="drinks">
      {
        drinks.map((drink) => (
          <Drink title={drink.title} ingredients={drink.ingredients} />
        ))
      }
    </section>
    <footer>
      <a href="https://RyanSlama.com" target="_blank">Made with ♥︎ by Ryan</a>.
    </footer>
  </main>

  <style>
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    html.dark #logo {
      filter: invert(1);
    }

    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: hsl(var(--foreground));
      font-size: 20px;
      line-height: 1.6;
    }

    h1 {
      font-size: 4rem;
      width: 250px;
      color: hsl(var(--foreground));
      line-height: 1;
      font-weight: 100;
      margin-top: 1.3em;
      margin-bottom: 1em;
      user-select: none;
    }

    .drinks {
      display: grid;
      grid-template-columns: repeat(2, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }

    footer {
      margin-top: 4rem;
      text-align: center;
      color: hsl(var(--muted-foreground));
    }

    @media (max-width: 600px) {
      .drinks {
        grid-template-columns: 1fr;
      }
    }
  </style>
</Layout>
