---
import type { Drink } from "../types/drinks";

interface Props {
  drink: Drink;
}

const { drink } = Astro.props;
---

<li class="drink">
  <h2>{drink.title}</h2>
  <p>
    {drink.ingredients.map((d) => d.ingredient.name).join(", ")}
  </p>
</li>
<style>
  .drink {
    list-style: none;
    padding: 1px;
  }

  h2 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
  }

  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 1rem;
    color: hsl(var(--muted-foreground));
  }
</style>
